<!-- Footer -->
<footer id="footer">
  <div class="copyright" style="margin:0 48px;">
    <p>JSTOR is part of ITHAKA, a not-for-profit prganization helping the academic community use digital technologies to preserve the scholarly record and to advance research and teaching in sustainable ways.</p>
    <p>©2000-<script>document.write(new Date().getFullYear())</script> ITHAKA. All Rights Reserved. JSTOR®, the JSTOR logo, JPASS®, Aluka® and ITHAKA® are registered trademarks of ITHAKA.</p>
  </div>
</footer>
